@model LoginDTO

<form asp-controller="Authentication" asp-action="Login" method="post">
    @Html.AntiForgeryToken()

    <input asp-for="Email" />
    <input asp-for="Password" />
    <button>Login</button>

    <div asp-validation-summary="All"></div>
</form>