@model LoginDTO

<form asp-controller="Authentication" asp-action="Login" method="post">
    @Html.AntiForgeryToken()

    <input asp-for="Email" />
    <input asp-for="Password" />
    <button>Login</button>

    <div asp-validation-summary="All"></div>
</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
