@model RegistrationDTO

<form asp-controller="Authentication" asp-action="Registration" method="POST">
    @Html.AntiForgeryToken()

    <input asp-for="Email" placeholder="email" />
    <input asp-for="Password" placeholder="password" />
    <input asp-for="ConfirmPassword" placeholder="confirm password" />
    <button>Registration</button>

    <div asp-validation-summary="All"></div>
</form>