@using Todoist.BusinessLogic.DTOs.Board;
@using Todoist.Controllers;
@model BoardDTO

<div class="board d-flex w-100 mb-3 p-2 bg-light" board-id="@Model.Id">
    <a class="link-primary" href="@Url.ActionLink("All", "TodoTask", new { boardId = Model.Id })">
        @Model.Name
    </a>
    <div class="edit-btn ms-auto btn p-0">
          Змінити
    </div>
    <div class="remove-btn ms-auto btn p-0">
          Видалити
    </div>
</div>