@using System.Text.Json;
@using Todoist.BusinessLogic.DTOs.Board;
@using Todoist.Controllers;
@using Todoist.Helpers.Extensions;

@model IEnumerable<BoardDTO>

<div class="boards d-flex justify-content-center flex-column mt-5 mx-auto" style="width: 400px;">
    <h3 class="fw-bold">Boards</h3>
    <div class="boards__content">
        @foreach (var board in Model)
        {
            <partial name="_BoardItemPartial" model="board"></partial>
        }
    </div>
    <div class="bg-light p-2 d-flex">
        <input class="form-control me-1" name="name" type="text" placeholder="Board name" />
        <div class="btn btn-primary w-100 create-btn">Create new board</div>
    </div>
    <div class="alert alert-danger error-field" role="alert"></div>
</div>

@section Scripts {
    <script type="module">
        import init from "/js/senders/board.js";

        @{
            var createActionLink = Url.ActionLink<BoardController>(nameof(BoardController.Create));
            var removeActionLink = Url.ActionLink<BoardController>(nameof(BoardController.Remove));
            var editNameActionLink = Url.ActionLink<BoardController>(nameof(BoardController.EditName));
        }

        init({
            createLink: "@createActionLink",
            removeLink: "@removeActionLink",
            editNameLink: "@editNameActionLink"
        });
    </script>
}