@using Todoist.BusinessLogic.DTOs.TodoTask;
@model TodoTaskDTO

<div class="board d-flex w-100 mb-3 p-2 bg-light" task-id="@Model.Id">
    <span class="me-2">@Model.Name</span>
    <span>complete to: @Model.DateBeforeExpiration</span>
    <input class="toggle-closed-value" asp-for="IsClosed" />
    <div class="edit-btn ms-auto btn p-0">Змінити</div>
    <div class="remove-btn ms-auto btn p-0">Видалити</div>
</div>