@using Todoist.BusinessLogic.DTOs.TodoTask;
@model TodoTaskDTO

<span class="board d-flex w-100 mb-3 p-2 bg-light" task-id="@Model.Id">
    <span class="me-2">@Model.Title</span>
    <span>complete to: @Model.ClosingDate</span>
    <span class="task__remove-btn d-block ms-auto btn p-0">Видалити</span>
</span>